<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PuppetLink</title>
</head>
<body>
    <h1>Welcome to PuppetLink</h1>
    <ul>
        <li><a href="/user">Link to User</a></li>
        <li><a href="/api/data">Link to HTTP API</a></li>            
    </ul>
</body>
</html>