<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PuppetLink</title>
    <style>
        .orientation_list li::after{
            content: '°';
        }

        .acceleration_list li::after{
            content: 'm/s²';
        }

        .gyroscope_list li::after{
            content: '°/s';
        }
    </style>
</head>

<body>
    <h1>Sensor</h1>
    <main>
        <button id = permission_btn>Start</button>
        <div>
            <div>
                <h3>Acceleration</h3>
                <ul class="acceleration_list">
                    <li>
                        x: <span id = acceleration_x>0</span>
                    </li>
                    <li>
                        y: <span id = acceleration_y>0</span>
                    </li>
                    <li>
                        z: <span id = acceleration_z>0</span>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Acceleration including gravity</h3>
                <ul class="acceleration_list">
                    <li>
                        x: <span id = acceleration_gravity_x>0</span>
                    </li>
                    <li>
                        y: <span id = acceleration_gravity_y>0</span>
                    </li>
                    <li>
                        z: <span id = acceleration_gravity_z>0</span>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Orientation</h3>
                <ul class="orientation_list">
                    <li>
                        Z-axis (α): <span id = orientation_a>0</span>
                    </li>
                    <li>
                        X-axis (β): <span id = orientation_b>0</span>
                    </li>
                    <li>
                        Y-axis (γ): <span id = orientation_g>0</span>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Gyroscope</h3>
                <ul class="gyroscope_list">
                    <li>
                        Z-axis (α): <span id = gyroscope_a>0</span>
                    </li>
                    <li>
                        X-axis (β): <span id = gyroscope_b>0</span>
                    </li>
                    <li>
                        Y-axis (γ): <span id = gyroscope_g>0</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>    
    <script>
        document.querySelector('#permission_btn').addEventListener('click',onClick);

        function onClick() {
            if (typeof DeviceMotionEvent.requestPermission === 'function') {
                // Handle iOS 13+ devices.
                DeviceMotionEvent.requestPermission()
                .then((state) => {
                    if (state === 'granted'){
                        window.addEventListener("deviceorientation", handleOrientation);
                        window.addEventListener("devicemotion", handleMotion);
                    } else
                        console.error('Request to access the orientation was rejected');
                })
                .catch(console.error);
            } else {
                // Handle regular non iOS 13+ devices.
                window.addEventListener("deviceorientation", handleOrientation);
                window.addEventListener("devicemotion", handleMotion);
            }
        }

        function handleMotion(event){       
            // Sensor data     
            const accDatas = [
                event.acceleration.x, 
                event.acceleration.y, 
                event.acceleration.z
            ];

            const accGDatas = [
                event.accelerationIncludingGravity.x, 
                event.accelerationIncludingGravity.y, 
                event.accelerationIncludingGravity.z
            ];

            const gyroDatas =[
                event.acceleration.x,
                event.acceleration.y,
                event.acceleration.z
            ];
       
            // DOM element
            accDom = [
                document.querySelector('#acceleration_x'),
                document.querySelector('#acceleration_y'),
                document.querySelector('#acceleration_z')
            ];

            accGDom = [
                document.querySelector('#acceleration_gravity_x'),
                document.querySelector('#acceleration_gravity_y'),
                document.querySelector('#acceleration_gravity_z')
            ];

            gyroDom = [
                document.querySelector('#gyroscope_a'),
                document.querySelector('#gyroscope_b'),
                document.querySelector('#gyroscope_g')
            ];

            // Assign 
            accDom.map((e,id) => e.innerText = accDatas[id]);
            accGDom.map((e,id) => e.innerText = accGDatas[id]);
            gyroDom.map((e,id) => e.innerText = gyroDatas[id]);
        }

        function handleOrientation(event) {
            // Sensor data
            const a = event.alpha;
            const b = event.beta;
            const g = event.gamma;

            // DOM element
            const orientation_a = document.querySelector('#orientation_a');
            const orientation_b = document.querySelector('#orientation_b');
            const orientation_g = document.querySelector('#orientation_g');

            // Assign 
            orientation_a.innerText = a;
            orientation_b.innerText = b;
            orientation_g.innerText = g;
        }
    </script>
</body>

</html>